html,
body {
    height: 100%;
}

/* remove max width*/
.container {
    width:auto;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.topic-index > div.list-view > div.item {
    padding:9px 0 10px;
    border-top: 1px solid #eee;
}

.topic-index > div.list-view > div.item:first-child {
    border:none;
    padding-top:none;
}

.topic-index img.media-object {
    width:139px;
    height:86px;
}

.topic-index .media-heading {
    float:left;
}
.topic-index .media-heading a:visited, .topic-index p a:visited {
    color:#551a8b;
}


.topic-index .media-source {
    float:left;
    margin:0 5px 5px;
}
.topic-index .media-author {
    clear:left;
}


.markdown-editor-div,
.editor-help {
    display:none;
}
.markdown-editor-div > .ProseMirror > .ProseMirror-content {
    min-height:128px;
}

.vote-buttons {
    text-align:center;
    width:50px;
}
.vote-buttons .btn {
    padding:5px 3px;
}
.btn.on > .glyphicon-arrow-up {
    color:#0c0;
}
.btn.on > .glyphicon-arrow-down {
    color:#c00;
}

.topic-index .vote-buttons .media-score {
    width:100px;
    margin:2px auto;
    padding:0;
    text-align: center;
    font-weight: bold;
    font-size:1.1em;
}

.container > h1:first-child,
.container > div > h1:first-child,
.topic-view > h1:first-child {
    margin-top:0;
}

.note-form .field-note-body {
    margin:5px 0;
}

.view-note {
    position:relative;
    margin-top:10px;
}

.view-note > .note-anchor {
    position:absolute;
    top:-51px;
}


.note-deleted {
    color:#999;
}


.div-note-edit, .div-summary-edit {
    display:none;
}

.media-tipped {
    color:#333;
}

.media-tip-score {
    color:#79847f;
    font-weight:bold;
    margin:2px 5px;
    padding-left:20px;
    background:url('/img/demcra-silver.png') no-repeat left center;

}
.tip-gold {
    color:#b78910;
    background-image:url('/img/demcra-gold.png');
}

.sort-index {
    margin-bottom:10px;
}

.tag-list {
    margin-bottom:10px;
}

/* expand/collapse notes */

.btn-note-expand {
    color:#666;
    text-decoration:none;
    float:left;
    margin:2px 5px 5px 0;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor:pointer;
}

.btn-note-expand:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

.btn-note-expand:after {
  content: "\e160";
}

.note-collapsed .btn-note-expand:after {
  content: "\e159";
}

.note-collapsed .btn,
.note-collapsed .media-note,
.note-collapsed .div-note,
.note-collapsed .view-note,
.note-collapsed .media-tipped {
    display:none;
}


/* vote loading icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
